* {
  box-sizing: border-box;
  color: white;
}

body{
  margin: 0px;
}

.background{
  background-color: #101820;
  margin: 0px;
  margin-top: -20px;
}

.wrapper{
  background-color: #101820;
  margin: auto;
}

.navigation-background{
  width: 100vw;
  height: 92px;
  position: fixed;
  background-color: #101820;
  top: 0;
  z-index: 1;
}

.navigation-wrapper{
  width: 1200px;
  background-color: #101820;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}

.triangle{
  border: 5px solid transparent;
  border-top-color: white ;
  margin-top: 25px;
} 

.navigation-choices-wrapper{
  display: flex;
  align-items: center;
}

.navigation-choice{
  display:flex;
  margin-right: 16px; 
  padding-left: 4px;
  padding-right: 4px;
}

.navigation-choice:hover>*{
  color:#89e6d9;
  border-top-color: #89e6d9;
}

.navigation-choice:last-child{
  margin-right: 0px;
}

.navigation-choice-text{
  margin-right: 2px;
  font-weight: bold;
  font-family: helvetica;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
}

.button{
  background-color: #0042ce;
  padding-left: 8px;
  padding-right: 8px;
}

.header-hero-wrapper{
  background-color: #101820;
  max-width: 1200px;
  height: 1400px;
  padding-bottom: 50px;
  margin: auto
}

.header-hero-container{
  position: sticky;
  top: 250px;
}

.title-text{
  font-size: 70px;
}

.why-tiller-wrapper{
  height: 800px;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.why-tiller-white-container{
  height: 500px;
  background-color: white;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.small-subtitle{
  color: #101820;
}

.why-tiller-title{
  color: #101820;
  position: relative;
}

.why-tiller-img{
  position: absolute;
  right: 0;
  bottom: 0;
}

.blue-shadow{
  background-color: #89e6d9;
  width: 1050px;
  height: 500px;
  position: absolute;
  right: 50px;
  bottom: 220px;
}

.features-wrapper{
  max-width: 1200px;
  height: 1150px;
  display: flex;
  margin: auto;
  margin-bottom: 100px;

}

.shapes-features-img{
  width: 500px;
  height: 500px;
  position: sticky;
  top: 150px;
  margin-right: 90px;
}

.features-container{
  margin-top: 20px;
  max-width: 570px;
}

.feature-title{
  font-size: 48px;
  font-family: serif;
}

.feature-text{
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}

.partnerships-background{
  background-color: white;
  height: 600px;
  margin-bottom: 200px;
}

.partnerships-text-box{
  max-width: 1200px;
  margin: auto;
}

.partnerships-wrapper{
  max-width: 1200px;
  overflow-x: scroll;
  margin: auto;
}

.partnerships-header{
  color: #101820;
}

.partnerships-link{
  color: #0042ce;
  text-decoration: none;
}

.partnerships-img-container{
  display: flex;
  max-width: fit-content;
}

.partnerships-img{
  width: 400px;
  margin-right: 30px;
}

.partnership-link{
  color: #101820;
  text-decoration: none;
}

.footer-background{
  height: 600px;
  background-color: white;
}

.footer-wrapper{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-flex{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer-text{
  color:#101820;
}

.footer-text-box{
  display:flex;
  flex-direction: column;
}